<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[By AI] Project Index</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <h1>[By AI] Project Index</h1>
    <div class="content">
    <ul>
    <% projects.forEach(function(project) { %>
        <li>
            <a href="<%= LOCAL ? '' : WEBSITE_URL %>/<%= project.year %>/<%= encodeURIComponent(path.basename(project.dir)) %>">
                <%= project.name %>
                <span class="subtitle">
                    <%= project.date ? formatDate(project.date) + '\n' + ellipsize(project.model, 21) + '\n' + ellipsize(project.platform, 32) : '(Date unknown)' %>
                </span>
            </a>
        </li>
    <% }); %>
    </ul>
    </div>
    <footer>
        <p>Generated <a href="<%= WEBSITE_URL %>">by AI</a> | 
        <a href="<%= REPO_URL %>">GitLab</a></p>
    </footer>
</body>
</html>