/* ##BY-AI--styles## */
:root {
  --background-color: black;
  --text-color: white;
  --link-color: #aaa;
  --card-background: white;
  --card-text: black;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    max-width: 1400px;
    margin: 0 auto;
    image-rendering: pixelated;
}

h1 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 2rem;
}

.content {
  margin: 0 1em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 600px) {
    ul {
        justify-content: center;
    }
}

li {
    width: 280px;
    height: 180px;
    position: relative;
    overflow: hidden;
}

li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 8px);
    max-height: 100%;
    overflow: hidden;
    background-color: var(--card-background);
    color: var(--card-text);
    text-decoration: none;
    font-size: 1.1rem;
    border: 4px solid var(--card-background);
    line-height: 1.2;
    position: relative;
    z-index: 1;
}

li a:hover {
    background-color: var(--background-color);
    color: var(--text-color);
}

li::before,
li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    background-image: 
        radial-gradient(circle, var(--card-text) 1px, transparent 1px),
        radial-gradient(circle, var(--card-text) 1px, transparent 1px);
    background-size: 4px 4px;
    background-position: 0 0, 2px 2px;
    opacity: 1;
    z-index: 2;
    pointer-events: none;
}

li::before {
    top: 0;
    left: 0;
}

li::after {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

li:hover::before,
li:hover::after {
    height: 4px;
}

.subtitle {
    display: block;
    margin-top: 5px;
    font-size: 0.8rem;
    white-space: pre-line;
    text-align: center;
    line-height: 1.8;
}

footer {
    margin-top: 50px;
    font-size: 0.8rem;
}

a {
    color: var(--link-color);
    text-decoration: underline;
}

a:hover {
    color: var(--text-color);
}